# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/

# C++ build artifacts
_skbuild/
build/
*.pyd
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# cibuildwheel output
wheelhouse/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
